<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zyuidemo">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE " />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ZyUiDemo">
        <activity
            android:name=".ui.activity.CustomComponentActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activity.ShortCutsActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activity.SplashActivity"
            android:screenOrientation="fullSensor"
            android:exported="true"
            android:theme="@style/SplashTheme">
        </activity>
        <activity android:name=".ui.activity.MainActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name="com.example.libcommon.base.activity.FragmentContainerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.libcommon.base.activity.TransFragmentContainerActivity"
            android:exported="true"
            android:theme="@style/TransActivity" />
    </application>

</manifest>